parameters:
    level: 8

    paths:
        - config
        - src
        - tests
        - rules
        - rules-tests

    reportUnmatchedIgnoredErrors: false

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*
        - */Fixture/*
        - */Expected/*

    # see https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    ignoreErrors:
        # phpstan false positive
        - '#Parameter \#1 \$className of method Rector\\PhpParser\\AstResolver\:\:resolveClassMethod\(\) expects class\-string, string given#'

        # false positive
        - '#Access to an undefined property Rector\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        - '#PhpParser\\Node\\Stmt\\Expression is not generic#'

        # more advanced usage, but not always working
        # see https://github.com/rectorphp/rector-src/actions/runs/11798721617/job/32865546672?pr=6422#step:5:110
        - '#Doing instanceof PHPStan\\Type\\.+ is error\-prone and deprecated#'

        -
            identifier: instanceof.alwaysTrue

        -
            identifier: argument.type

        # phpstan instanceof
        -
            identifier: phpstanApi.instanceofAssumption

        -
            identifier: phpstanApi.varTagAssumption

        -
            identifier: assign.propertyType

        - '#::provideMinPhpVersion\(\) never returns \d+ so it can be removed from the return type#'
