parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    reportUnmatchedIgnoredErrors: false

    cognitive_complexity:
        class: 50
        function: 9

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*
        - */Fixture/*
        - */Expected/*

    ignoreErrors:
        # phpstan false positive
        - '#Parameter \#1 \$className of method Rector\\Core\\PhpParser\\AstResolver\:\:resolveClassMethod\(\) expects class\-string, string given#'

        # rector co-variant
        - '#Parameter \#1 \$node (.*?) of method Rector\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\PhpRectorInterface\:\:refactor\(\)#'

        - '#Cognitive complexity for "Rector\\PHPUnit\\Rector\\ClassMethod\\CreateMockToAnonymousClassRector\:\:refactor\(\)" is 25, keep it under 9#'

        - '#Cognitive complexity for "Rector\\PHPUnit\\Rector\\MethodCall\\DelegateExceptionArgumentsRector\:\:refactor\(\)" is 12, keep it under 9#'

        # double type chdck
        - '#Call to static method Webmozart\\Assert\\Assert\:\:allIsInstanceOf\(\) with array<PhpParser\\Node\\Arg> and (.*?) will always evaluate to true#'

        # false positive
        - '#Access to an undefined property Rector\\Core\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'
        - '#Parameter \#2 \.\.\.\$arrays of function array_merge expects array, array<PhpParser\\Node\\Stmt>\|null given#'
